<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<bean id="userService" class="com.tobi.user.service.UserServiceImpl">
		<property name="userDao" ref="UserDao" />
		<!-- <property name="mailSender" ref="mailSender" /> -->
	</bean>
	
	<bean id="testUserService" class="com.tobi.user.test.UserServiceTest$TestUserServiceImpl" parent="userService" /> 


 	<bean id="transactionAdvice" class="com.framework.proxy.TransactionAdvice">
		<property name="transactionManager" ref="transactionManager"></property>
	</bean>
	
	<!-- 개별 pointcut 등록부터 동적 pointcut 등록 -->
<!-- 	<bean id="transactionPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut" >
		<property name="mappedName" value="upgrade*" />
	</bean> -->
<!-- 	<bean id="transactionPointcut" class="com.framework.proxy.NameMatchClassMethodPointcut" >
		<property name="mappedClassName" value="*NotServiceImpl*" />
		<property name="mappedName" value="upgrade*" />
	</bean> -->
<!-- 	<bean id="transactionPointcut" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
		<property name="expression" value="execution(* *..*ServiceImpl.upgrade*(..))"></property>
	</bean>
	
	<!-- 개별 부터 동적까지의 pointcut, advisor 등록 -->
	<!-- <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="transactionAdvice"></property>
		<property name="pointcut" ref="transactionPointcut"></property>
	</bean> -->
	
	<aop:config>
		<aop:pointcut id="transactionPointcut" expression="execution(* *..*ServiceImpl.upgrade*(..))" />
		<aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut" />
	</aop:config>
	
 	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	
	<!-- <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" ref="mail.server.com" />
	</bean> -->

 	<bean id="UserDao" class="com.tobi.user.dao.UserDaoJdbc">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.mariadb.jdbc.Driver"></property>
		<property name="url" value="jdbc:mariadb://61.252.235.153:18081/seonhoblog?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="username" value="test"></property>
		<property name="password" value="1234"></property>
	</bean>
	

	
	
</beans>


